// Color Palette Variables
$colors-night-blue: #131122;
$colors-shipyard-blue: #94AEBF;
$colors-action-red: #ED1F34;
$colors-mint-green: #B6FDBF;
$colors-sea-green: #8ED49D;
// Greyscale
$colors-grey: #888888;
$colors-grey-light: #9B9B9B;
$colors-grey-medium: #979797;
$colors-grey-dark: #505050;
// Basic / Primary
$colors-white: #FFF;
$colors-black: #000;
$colors-red: #F00;
